html, body {
  background-color: rgb(230);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow:hidden;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
}
p {
  font-family: sans-serif;
  font-size:10px;
  color: white;
  text-align: right;
}

.meni a {
  color:white;
}

a {
  color:lightgray;
  text-decoration: none;
}

.meni a:hover {
  color: greenyellow;
}

.meni {
  position:fixed;
  top: 1em;
  right: 1em;
  z-index: 1;
}

a:active {
  color: coral;
}
